div.header {
    border:1px solid darkgrey;
    background-color: #beb5c7;
    margin: 5% 20% 2% 20%;
    border-radius: 5px;
    text-align: center;
    color: #3a3725;
}
h1 {
    
    font-size: 90px;
    margin: 10px;    
}
h4 {
    font-size: 20px;
    word-spacing: 20px;
    text-transform: uppercase;
}
div.menubar {
    border:1px solid darkgrey;
    background-color: #beb5c7;
    color: #3a3725;
    padding: 15px;
    margin: 2% 20% 2% 20%;
    border-radius: 5px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #3a3725;
    text-transform: uppercase;
   
}
.menubar a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 5%;
}
.footer {
    border: 1px solid darkgrey;
    border-radius: 5px;
    background-color: #beb5c7;
    text-align: center;
    margin: 2% 20% 2% 20%;
}
li {
    display: inline;
    list-style-type: none;
    margin: 3dvw;
}
img {
    border: 5px solid #beb5c7;
    border-radius: 5px;
}
#bjorn {
    margin-left: 20%;
}
#pawel {
    margin-right: 20%;
}
form {
    margin: 2% 50% 2% 35%;
}
.form {
    margin: 0% 20% 0% 20%;
    border-radius: 5px;
    padding: 10px;
    background-color: #beb5c7; 
    color: #3a3725;
    font-size: 18px; 
   }

#bio {
    margin: 0% 20% 0% 20%;
    border-radius: 5px;
    padding: 50px;
    background-color: #beb5c7; 
    color: #3a3725; 
    text-align: center;
}